# .NET build output
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo
*.cache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
msbuild.log
msbuild.err

# NuGet packages
packages/

# MSTest Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# StyleCop
StyleCopReport.xml

# Resharper
_ReSharper*/

# NCrunch
.ncrunch*
.*crunch*.local.xml

# Installshield output folder
[Ee]xpress/

# DocFX documentation
docs/_site/

# Build Folders (Temp files, etc.)
[Bb]uild/
[Nn]ode_modules/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/PublishProfiles/
*.nuget.props
*.nuget.targets

# .NET Core Scaffolding
**/*.csproj.nuget.g.targets
**/*.csproj.nuget.g.props

# Visual Studio Code
.vscode/

# Rider
.idea/

# Xamarin-specific
*.apk
*.ap_

# Other
*.swp